$bgcolor: #FFFFFF;
$fontColor: #BB40FF;
$fontName: 'Montserrat';
$boldd: bold;
$flex: flex;
$center: center;
$block: block;
$null: 0;
$containerWidth: 1170px;
$nullAuto: 0 auto;
$none: none;
$auto: auto;
$uppercase: uppercase;
$fwo: 800;
$fwt: 600;
$fwtr: 400;
$mto: 300px;
$mtt: 40px;
$mttr: 30px;
$mttrr: 56px;
$mttpp: 226px;
$mttii: 20px;
$mttoo: 45px;
$tripx: 3px;
$solid: solid;
$tripqwe: 259px;
$wdth: 100%;
$wdthh: 550px;
$mrgn: 2em auto;
$pdng: 1em;
$box: 0 0 10px 5px rgba(221, 221, 221, 1);